.product-main-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;


    height: auto;
    box-sizing: border-box;
    /* border: 2px solid green; */

}

.product-center-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    position: relative;

    height: 100vh;


    overflow-y: hidden;

    /* border: 2px solid red; */

}













.product-slider-section {
    /* padding-top: 70px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 81%;
    z-index: 5;

    /* height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center; */


    /* border: 3px solid red; */



   
    /* width: 100%; */
    
}



.gallery {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(9, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;


    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 95%;
    margin: auto;

    z-index: 1000;


    /* border: 3px solid green; */

}

.active {
    scroll-snap-type: unset;
}

.gallery li {
    margin-left: 70px;
    scroll-snap-align: center;
    /* display: inline-block; */
    /* border-radius: 3px; */
    font-size: 0;

    display: flex;
    justify-content: center;

    height: 75vh;
    padding-top: 0px;
    width: 80%;

    /* width: max-content; */

    /* margin-top: 50px; */
}

.gallery li img {
    /* border: 3px solid palevioletred; */
}





/* Style the scrollbar for Firefox */
/* .gallery {
    border-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: #BF935B #f1f1f1;
} */

/* Style the scrollbar corner */
/* .gallery::-webkit-scrollbar-corner {
    background: #BF935B;
    border-radius: 10px;
} */










.gallery2 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(19, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;


    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 95%;
    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery2 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;
    height: 75vh;
    padding-top: 0px;
    width: 80%;
}










.gallery3 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(15, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;


    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 95%;
    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery3 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;
    height: 75vh;
    padding-top: 0px;
    width: 80%;
}











.gallery4 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(10, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;


    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 95%;
    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery4 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;


    height: 75vh;
    padding-top: 0px;
    width: 80%;
}








.gallery5 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(25, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;


    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 95%;
    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery5 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;
    height: 75vh;
    padding-top: 0px;
    width: 80%;
}











.gallery6 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    /* grid-template-columns: repeat(4, 80vw); */
    grid-template-columns: repeat(4, 70vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;


    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 95%;
    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery6 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;
    height: 75vh;
    padding-top: 0px;
    width: 80%;
}






.gallery7 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 70vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;


    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 95%;
    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery7 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;
    height: 75vh;
    padding-top: 0px;
    width: 80%;
}










.gallery8 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(12, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;


    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 95%;
    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery8 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;

    height: 75vh;
    padding-top: 0px;
    width: 80%;
}

/* .gallery8 img{
    border: 3px solid red;
} */










.gallery9 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(22, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;


    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;


    width: 95%;



    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery9 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;

   

    height: 75vh;

    padding-top: 0px;

    width: 80%;

    /* border: 2px solid palevioletred; */

}


.gallery9 li img{
    /* border: 3px solid green; */
}











.gallery10 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(12, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 95%;
    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery10 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;

    height: 75vh;

    padding-top: 0px;

    width: 80%;

}












.gallery11 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(10, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;

    width: 95%;

    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery11 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;
    

    height: 75vh;
    padding-top: 0px;
    width: 80%;
}










.gallery12 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(30, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    overflow: scroll;

    height: 78vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
     width: 95%;
    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */


}



.gallery12 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;

    /* padding-top: 8px; */
    /* padding-bottom: 25px; */


    height: 75vh;
    padding-top: 0px;
    width: 80%;
}









.gallery13 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(20, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;

     width: 95%;

    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery13 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;



    /* height: 75vh;
    padding-top: 8px;
    width: 80%; */


    height: 75vh;
    padding-top: 0px;
    width: 80%;

    /* border: 2px solid greenyellow; */
}








.gallery14 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(6, 87vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 95%;
    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery14 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;
    height: 75vh;
    padding-top: 0px;
    width: 80%;
}




.gallery15 {
    /* padding: 1rem; */
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(41, 80vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    overflow: scroll;

    height: 80vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;


    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 95%;
    margin: auto;

    z-index: 1000;
    /* border: 3px solid green; */

}



.gallery15 li {
    margin-left: 70px;
    scroll-snap-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;
    height: 75vh;
    padding-top: 0px;
    width: 80%;
}





.gallery::-webkit-scrollbar,
.gallery2::-webkit-scrollbar,
.gallery3::-webkit-scrollbar,
.gallery4::-webkit-scrollbar,
.gallery5::-webkit-scrollbar,
.gallery6::-webkit-scrollbar,
.gallery7::-webkit-scrollbar,
.gallery8::-webkit-scrollbar,
.gallery9::-webkit-scrollbar,
.gallery10::-webkit-scrollbar,
.gallery11::-webkit-scrollbar,
.gallery12::-webkit-scrollbar,
.gallery13::-webkit-scrollbar,
.gallery14::-webkit-scrollbar,
.gallery15::-webkit-scrollbar {
    height: 10px;

}

.gallery::-webkit-scrollbar-track,
.gallery2::-webkit-scrollbar-track,
.gallery3::-webkit-scrollbar-track,
.gallery4::-webkit-scrollbar-track,
.gallery5::-webkit-scrollbar-track,
.gallery6::-webkit-scrollbar-track,
.gallery7::-webkit-scrollbar-track,
.gallery8::-webkit-scrollbar-track,
.gallery9::-webkit-scrollbar-track,
.gallery10::-webkit-scrollbar-track,
.gallery11::-webkit-scrollbar-track,
.gallery12::-webkit-scrollbar-track,
.gallery13::-webkit-scrollbar-track,
.gallery14::-webkit-scrollbar-track,
.gallery15::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.gallery::-webkit-scrollbar-thumb,
.gallery2::-webkit-scrollbar-thumb,
.gallery3::-webkit-scrollbar-thumb,
.gallery4::-webkit-scrollbar-thumb,
.gallery5::-webkit-scrollbar-thumb,
.gallery6::-webkit-scrollbar-thumb,
.gallery7::-webkit-scrollbar-thumb,
.gallery8::-webkit-scrollbar-thumb,
.gallery9::-webkit-scrollbar-thumb,
.gallery10::-webkit-scrollbar-thumb,
.gallery11::-webkit-scrollbar-thumb,
.gallery12::-webkit-scrollbar-thumb,
.gallery13::-webkit-scrollbar-thumb,
.gallery14::-webkit-scrollbar-thumb,
.gallery15::-webkit-scrollbar-thumb {
    background: #BF935B;
    border-radius: 10px;
}

.gallery::-webkit-scrollbar-thumb:hover,
.gallery2::-webkit-scrollbar-thumb:hover,
.gallery3::-webkit-scrollbar-thumb:hover,
.gallery4::-webkit-scrollbar-thumb:hover,
.gallery5::-webkit-scrollbar-thumb:hover,
.gallery6::-webkit-scrollbar-thumb:hover,
.gallery7::-webkit-scrollbar-thumb:hover,
.gallery8::-webkit-scrollbar-thumb:hover,
.gallery9::-webkit-scrollbar-thumb:hover,
.gallery10::-webkit-scrollbar-thumb:hover,
.gallery11::-webkit-scrollbar-thumb:hover,
.gallery12::-webkit-scrollbar-thumb:hover,
.gallery13::-webkit-scrollbar-thumb:hover,
.gallery14::-webkit-scrollbar-thumb:hover,
.gallery15::-webkit-scrollbar-thumb:hover {
    background: #976f3b;
}















.gallery15::-webkit-scrollbar {
    height: 10px;
}


.gallery15::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}


.gallery15::-webkit-scrollbar-thumb {
    background: #BF935B;
    border-radius: 10px;
}

.gallery15::-webkit-scrollbar-thumb:hover {
    background: #976f3b;
}






/* .product-img-pc-slide{
    display: flex;
} */


.product-img-mobile-silde {
    display: none !important;
}




/* =======================slider-mobile-navigation======================= */

.arrow-navigation {
    display: none;
    position: absolute;
    width: 95%;
    /* border: 3px solid red; */
    margin: auto;
    height: max-content;
    z-index: 1000;
    left: 50%;
    top: 12pc;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.arrow-left {
    /* background-color: rgba(0, 0, 0, 0.3); */
    width: 20%;
    left: 0;
    height: max-content;
    position: absolute;
    padding: 6px;
    border-radius: 14px;
}


.arrow-right {
    /* background-color: rgba(0, 0, 0, 0.3); */
    width: 20%;
    right: 0;
    height: max-content;
    position: absolute;
    top: 0;
    padding: 6px;
    border-radius: 14px;
}

.arrow-left i,
.arrow-right i {
    vertical-align: middle;
    font-size: 26px;
    font-weight: bold;
    color: #976f3b;
    transition: 0.2s;
}


.arrow-left img{
    /* vertical-align: middle; */
    transform: rotate(180deg);
    width: 100%;
}
.arrow-right img {
    /* vertical-align: middle; */
    width: 100%;
   
}


.arrow-left:hover,
.arrow-right:hover {
    /* background-color: #d4b48b; */

}







@media (max-width: 768px) {

    .product-slider-section {
        /* height: auto; */
        /* overflow-y: scroll; */
    }


    .gallery {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(10, 100%);
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        overflow: scroll;
        /* overflow-y: scroll; */
        scroll-snap-type: both mandatory;
        scroll-padding: 1rem;
        scroll-behavior: smooth;
        overflow-y: hidden;
        width: 100%;
        z-index: 1000;
        overflow-x: hidden;


        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



    .gallery li {
        margin-left: 0px;
        scroll-snap-align: center;
        display: inline-block;
        border-radius: 3px;
        font-size: 0;
        display: flex;
        justify-content: center;
        height: max-content !important;
        padding-top: 0px;
        width: 100%;
        margin-top: 15px;
        align-self: center;


    }




    .gallery2 {
        /* padding: 1rem; */
        padding-left: 0px;
        margin-top: 20px !important;
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(19, 100%);

        /* overflow: scroll; */
        /* height: 80vh; */

        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;
        z-index: 1000;
        /* border: 3px solid green; */


        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }



    .gallery2 li {

        margin-left: 0px;
        display: inline-block;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        padding-top: 0px;
        width: 100%;
        margin-top: 15px;
        align-self: center;
    }



    .gallery3 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(18, 100%);


        scroll-behavior: smooth;
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }



    .gallery3 li {

        display: flex;
        justify-content: center;
        height: max-content !important;
        padding-top: 8px;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;



    }






    .gallery4 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(10, 100%);


        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);






    }



    .gallery4 li {
        padding-top: 0px;

        display: flex;
        justify-content: center;
        height: max-content !important;
        padding-top: 8px;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }



    .gallery5 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(25, 100%);


        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }



    .gallery5 li {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }



    .gallery6 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(6, 100%);


        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }



    .gallery6 li {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }

    .gallery7 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(6, 100%);


        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }



    .gallery7 li {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }


    .gallery8 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(12, 100%);
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }



    .gallery8 li {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }
















    .gallery9 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(22, 100%);
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }



    .gallery9 li {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }



    .gallery10 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(12, 100%);
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }



    .gallery10 li {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }





    .gallery11 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(14, 100%);
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


    }



    .gallery11 li {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }







    .gallery12 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(30, 100%);
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


    }



    .gallery12 li {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }



    .gallery13 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(20, 100%);
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
    
    
    
    .gallery13 li {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }


    .gallery14 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(10, 100%);
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
    
    
    
    .gallery14 li {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }








    .gallery15 {
        margin-top: 20px !important;
        padding: 0px;
        padding-bottom: 40px;
        grid-template-columns: repeat(45, 100%);
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        margin: auto;

        z-index: 1000;
        /* border: 3px solid green; */

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }



    .gallery15 li {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        height: max-content !important;
        width: 100%;
        align-self: center;
        margin-top: 15px;
        margin-left: 0px;
    }

















    .product-img-pc-slide {
        display: none !important;
    }


    .product-img-mobile-silde {
        display: flex !important;
    }


    .arrow-navigation {
        display: block !important;
    }


    .gallery::-webkit-scrollbar,
    .gallery2::-webkit-scrollbar,
    .gallery3::-webkit-scrollbar,
    .gallery4::-webkit-scrollbar,
    .gallery5::-webkit-scrollbar,
    .gallery6::-webkit-scrollbar,
    .gallery7::-webkit-scrollbar,
    .gallery8::-webkit-scrollbar,
    .gallery9::-webkit-scrollbar,
    .gallery10::-webkit-scrollbar,
    .gallery11::-webkit-scrollbar,
    .gallery12::-webkit-scrollbar,
    .gallery13::-webkit-scrollbar,
    .gallery14::-webkit-scrollbar,
    .gallery15::-webkit-scrollbar {
        display: none;
    }
}