*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ensure box-sizing is border-box for all elements */
html {
    box-sizing: border-box;
}




.slider {

    margin: auto;
    /* border: 3px solid red; */
    width: 55%;
    /* width: 90%; */

    /* width: 100%; */
    height: 100%;
    overflow: hidden;

    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */


}

.slider-wrapper {
    /* margin-top: 10px; */
    /* margin-left: -1pc!important; */
    margin: auto;

    width: max-content;
    /* padding: 0 150px; */
    /* padding: 0 100px; */
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 43pc !important;
    height: 100%;
    display: flex;
    align-items: center;
    /* gap: 115px; */

    gap: 115px;

    /* position: relative;
    left: 10%; */
   
}

.slide {
    margin: auto;
    /* width: 585px; */
    width: 730px;
    
    
    height: auto;
    background: ☐ gray;
    /* border: 3px solid blue; */
    /* z-index: 1000; */
    /* background-color: white; */
}




 /* Firefox */
 @-moz-document url-prefix() {

    .slider-wrapper {
        /* margin-top: 10px; */
        /* margin-left: -1pc!important; */
        margin: auto;
    
        width: max-content;
        /* padding: 0 150px; */
        /* padding: 0 100px; */
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 48pc !important;
        height: 100%;
        display: flex;
        align-items: center;
        /* gap: 115px; */
    
        gap: 115px;
    
        /* position: relative;
        left: 10%; */
       
    }

    .slide {
        margin: auto;
        /* width: 585px; */
        width: 790px;
        
        /* height: 500px; */
        /* height: 510px; */
        height: auto;
        /* background: ☐ gray; */
        /* border: 3px solid blue; */
        /* z-index: 1000; */
        /* background-color: white; */
    }
}













img {
    /* width: 90%;
      height: max-content; */
    /* padding-top: 10px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* z-index: 1000; */
    /* border: 3px solid red; */

}

.marker-wrapper {
    position: absolute;
    top: 0;
    left: 7pc;
    /* left: 0; */
    width: max-content;
    height: 100vh;
    /* z-index: 1; */
}

.marker {
    position: relative;
    width: 2px;
    height: 100%;
    background: #BF935B;
    
}









.marker:after {
    position: absolute;
    content: "";
    display: block;
    top: 25px;
    /* top: 50px; */
    left: -20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #BF935B;
    border-radius: 100%;
    z-index: 1000;
}









.active-slide {
    position: absolute;
    top: 30px;
    /* top: 60px; */
    /* left: 40px; */
    left: 30px;
    font-family: "chocolatebox", sans-serif;
    font-size: 22px;
    font-weight: bold;
    width: max-content;
    color: #BF935B;
}























@media (max-width: 380px) {


    .slider {
        margin: auto;
        width: 100%;
        height: 100%;
        overflow: hidden;
      
        /* border: 3px solid green; */
    }

    .slider-wrapper {
        margin: auto;
        width: max-content;
       
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0pc !important;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 5px;

       
    }


    .slide {
        margin: auto;
        width: 380px;
        
        /* height: 500px; */
        height: auto;
       
    }


    img {
        padding-top: 0px;
        width: 98%;
        height: 100%;
        z-index: 1000;
      }






      .marker-wrapper {
        position: absolute;
        top: 0;
        left: 5pc;
        width: max-content;
        height: 100vh;
    }
    
    .marker {
        position: relative;
        width: 2px;
        height: 100%;
        background: #BF935B;
    }
    

    
    
    .marker:after {
        position: absolute;
        content: "";
        display: block;
        top: 8pc;
        left: -20px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 2px solid #BF935B;
        border-radius: 100%;
    }

    .active-slide {
        position: absolute;
        top: 8.4pc;
        /* top: 60px; */
        /* left: 40px; */
        left: 30px;
        font-family: "chocolatebox", sans-serif;
        font-size: 22px;
        font-weight: bold;
        width: max-content;
        color: #BF935B;
    }

}


@media (min-width: 381px) and (max-width: 786px) {
    .slider {
        margin: auto;
        width: 100%;
        height: 100%;
        overflow: hidden;
      
        /* border: 3px solid green; */
    }

    .slider-wrapper {
        margin: auto;
        width: max-content;
       
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0pc !important;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 5px;

       
    }


    .slide {
        margin: auto;
        width: 400px;
        
        /* height: 500px; */
        height: auto;
    
      
    }


    img {
        /* height: max-content; */
        padding-top: 0px;
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
        z-index: 1000;
       
      }






      .marker-wrapper {
        position: absolute;
        top: 0;
        left: 5pc;
        width: max-content;
        height: 100vh;
    }
    
    .marker {
        position: relative;
        width: 2px;
        height: 100%;
        background: #BF935B;
    }
    

    
    
    .marker:after {
        position: absolute;
        content: "";
        display: block;
        top: 8pc;
        left: -20px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 2px solid #BF935B;
        border-radius: 100%;
    }

    .active-slide {
        position: absolute;
        top: 8.4pc;
        /* top: 60px; */
        /* left: 40px; */
        left: 30px;
        font-family: "chocolatebox", sans-serif;
        font-size: 22px;
        font-weight: bold;
        width: max-content;
        color: #BF935B;
    }


}